#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CMAKE_NORMAL_ARGS :=

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --buildsystem=cmake

##why wont you do what i ask you to?
override_dh_auto_configure:
	mkdir -p obj-$(DEB_HOST_GNU_TYPE)
	cd obj-$(DEB_HOST_GNU_TYPE) && cmake .. \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_GNU_TYPE) \
		-DCMAKE_INSTALL_SYSCONFDIR=/etc \
		-DCMAKE_INSTALL_LOCALSTATEDIR=/var \
		-DCMAKE_BUILD_TYPE=Release \
		-DOPENSIM_COPY_DEPENDENCIES=OFF \
		-DOPENSIM_DEPENDENCIES_DIR="" \
		-DOPENSIM_WITH_CASADI=OFF \
		-DOPENSIM_DEPENDENCIES_ABSDIR="" \
		-DBUILD_TESTING=OFF \
		-DBUILD_API_EXAMPLES=OFF \
		-DTHREADS_PREFER_PTHREAD_FLAG=ON \
		-DCMAKE_HAVE_THREADS_LIBRARY=1 \
		-DCMAKE_THREAD_LIBS_INIT=-lpthread

