#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CMAKE_CONFIGURE_FLAGS = -DCMAKE_INSTALL_PREFIX=/usr \
	-DCMAKE_INSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
	-DSPDLOG_BUILD_BENCH:BOOL=OFF \
	-DSPDLOG_BUILD_TESTS:BOOL=OFF \
	-DSPDLOG_BUILD_EXAMPLE:BOOL=OFF \
	-DCMAKE_POSITION_INDEPENDENT_CODE:BOOL=ON

%:
	dh $@ --buildsystem=cmake

